@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');

.isolated-card {
    height: 747px;
    background-color: #0069F9;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: calc(23 / 15);
    letter-spacing: 0.03em;
}

.isolated-card--view-fields {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 80px;
    display: grid;
    grid-template: 
    "image"   1fr
    "name"    auto
    "company" auto
    "rating"  auto /
    100%;
}
.isolated-card--view-fields::before,
.isolated-card--view-fields::after {
    height: 0; /* for firefox */
}

.field {
    display: block;
    padding-bottom: 10px;
    text-align: center;
}
.product-image-field {
    grid-area: image;
    padding-bottom: 20px;
}
.product-name-field {
    grid-area: name;
    padding-bottom: 6px;
}
.company-name-field {
    grid-area: company;
    padding-bottom: 10px;
}

.title-field,
.highlight-title-field,
.divider-field,
.company-logo-field,
.description-field {
    display: none;
}

.label {
    display: none;
}

.title-logo-field {
    position: absolute;
    top: 17px;
    left: 19.5px;
}

.product-ranking-field {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 27px;
    width: auto;
}
.product-ranking-value::before {
    content: '#';
    font-size: 40px;
    line-height: 2.5;
    vertical-align: top;
    margin-right: -25px;
}
.product-ranking-value {
    font-family: 'Teko', sans-serif;
    font-size: 185px;
    line-height: 1;
}

.product-image-value {
    display: inline-block;
    height: 100%;
}

.product-name-value {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

.company-name-value::before {
    display: inline-block;
    content: 'by';
}

.product-link-field {
    order: 99;
    margin-top: 10px;
    padding: 14px 24px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.product-link-value::before {
    content: '+';
    display: inline-block;
    margin-right: 5px;
}
.product-link-value {
    color: black;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.product-cta-field {
    order: 100;
    background-color: white;
}
.product-cta-value {
    width: 70%;
    min-height: 45px;
    padding: 14px 24px;
    border-radius: 100px;
    background-color: black;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1;
    text-transform: uppercase;
}

/* Product Rating Stars */
.product-rating-field {
    grid-area: rating;
    width: 100px;
    color: transparent;
    margin: 0 auto;
    line-height: 1;
}
.product-rating-value {
    display: none;
}
.product-rating-value.integer-100,
.product-rating-value.integer-90,
.product-rating-value.integer-80,
.product-rating-value.integer-70,
.product-rating-value.integer-60,
.product-rating-value.integer-50,
.product-rating-value.integer-40,
.product-rating-value.integer-30,
.product-rating-value.integer-20,
.product-rating-value.integer-10,
.product-rating-value.integer-0 {
    display: block;
    background-repeat: no-repeat;
    background-position: top center, 0% top, 25% top, 49% top, 74% top, 98% top;
    background-size: 100px 14px, 13px 14px, 13px 14px, 13px 14px, 13px 14px, 13px 14px;
}
.product-rating-value.integer-100 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg');
}
.product-rating-value.integer-90 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_half.svg');
}
.product-rating-value.integer-80 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg');
}
.product-rating-value.integer-70 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_half.svg');
}
.product-rating-value.integer-60 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg');
}
.product-rating-value.integer-50 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_half.svg');
}
.product-rating-value.integer-40 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg');
}
.product-rating-value.integer-30 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_half.svg');
}
.product-rating-value.integer-20 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_filled.svg');
}
.product-rating-value.integer-10 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg'),
    url('/assets/images/cards/coffee-bean/icon_star_half.svg');
}
.product-rating-value.integer-0 {
    background-image:
    url('/assets/images/cards/coffee-bean/stars-empty.svg');
}