.card-boundary {
    background-color: #FFEE6E;
    background-image: url('/assets/images/cards/event-ticket/ticket-bg.png');
    background-size: 931px 1365px;
    background-position: top -72px right 47%;
    background-repeat: no-repeat;
}

.isolated-card {
    width: 375px;
    height: 812px;
    margin: 0 auto;
    padding: 25px 21px 19px 20px;
    font-family: 'DM Sans', sans-serif;
}

.isolated-card--view-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'title-2 title-2'
      'qr-code qr-code'
      'guest-name guest-name'
      'date quantity';
    border-radius: 20px;
    max-width: 334px;
    overflow: hidden;
}
.isolated-card--view-fields::before,
.isolated-card--view-fields::after {
    height: 0; /* for firefox */
}

.label,
.divider-value {
    display: none;
}

.wheelchair-access-label,
.section-label,
.features-label {
    display: block;
    color: #FF0049;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.field {
    display: block;
    grid-column: 1 / -1;
    padding: 0 31px 20px;
    background: #373343;
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(22 / 15);
    margin-top: -1px;
}

.title-field {
    display: none;
}

.event-title-field {
    grid-area: title;
    background: none;
}
.event-title-value {
    padding-top: 70px;
    background-image: url('/assets/images/cards/event-ticket/ticket-logo.svg');
    background-size: 79px 62px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 35px;
    font-weight: bold;
    line-height: calc(40 / 35);
    letter-spacing: 0.015em;
    color: black;
    text-align: center;
}

.highlight-title-field {
    grid-area: title-2;
    background: #FF0049;
    height: 39px;
    padding: 13px 106px 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.qr-code-field {
    grid-area: qr-code;
    position: relative;
    padding: 33px 0 21px;
}
.qr-code-label {
    display: block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: white;
    color: transparent;
    margin: 0 auto;
}
.qr-code-value {
    position: absolute;
    top: 61px;
    left: 127px;
    width: 79px;
    height: 79px;
}

.guest-name-field {
    grid-area: guest-name;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
.guest-name-value::before {
    display: block;
    content: 'My name is';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.date-field {
    grid-area: date;
    text-align: center;
    background-image: url('/assets/images/cards/event-ticket/ticket-date.svg');
    background-size: 18px 20px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 31px;
}

.number-of-tickets-field {
    grid-area: quantity;
    text-align: center;
    background-image: url('/assets/images/cards/event-ticket/ticket-guest.svg');
    background-size: 18px 20px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 31px;
}
.number-of-tickets-value::after {
    content: 'Tickets';
    display: inline-block;
}

.divider-field {
    border-top: none;
    width: 100%;
    background-image: url('/assets/images/cards/event-ticket/ticket-divider.svg');
    background-repeat: no-repeat;
    background-size: 346px 12px;
    background-position: top center;
    padding-top: 3px;
    padding-bottom: 37px;
}

.features-field {
    padding-bottom: 25px;
}